

body {
	background: url("pics/labbyGB.jpg");
	color: #444;
	font-family: "Latha", "Georgia", "Helvetica",  sans-serif;
}

p {
	font-family: 'Prociono', sans-serif;
}

::-webkit-input-placeholder {
    color:    #FFFFFF;
}
:-moz-placeholder {
    color:    #FFFFFF;
}

.content {
	background-color: #612602;
	border: 2px solid #612602;
	border-radius: 20px;
	width: 700px;
	padding: 0 30px;
	text-align: center;
	margin: 4em auto;
	opacity: 0.9;
	box-shadow: 0 0 3em #000000;
}

header h1 {
	font-family: 'Spicy Rice', cursive;
	text-align: center;
	font-size: 4em;
    color: #000000;
    letter-spacing: 1.3px;
}

footer {
	display: block;
	clear: both;
}

footer p {
	text-align: center;
	font-size: 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e594b), to(#687764));
   -webkit-background-clip: text;
   letter-spacing: 1.3px;
   -webkit-text-fill-color: transparent;
}

.MessageBoard {
	width: 500px;
	padding: 10px;
	margin: 0px auto;
	display: block;
}

.MessageBoard .antalMeddelanden{
	float: right;
	margin-right: 20px;
	font-size: 12px;
	color: #FFFFFF;
}

.MessageBoard .message{
	text-align: left;
	min-width: 485px;
	max-width: 485px;
	min-height: 60px;
	overflow: hidden;
	display: block;
	background: #E87C25;
	border-radius: 10px;
	box-shadow: 0 0 0.5em #4e594b;
	padding: 5px;
	color: #FFFFFF;
	margin-top: 20px;
}

.MessageBoard .message .theTexting {
	margin: 5px;
	width: 410px;
	float: left;
	border-right: 1px solid #000;
}

.MessageBoard .message .messageDate{
	font-size: 14px;
	letter-spacing: 0.5px;
	float: left;
	margin-top: 5px;
	margin-left: 425px;
}

img {
    margin-right: 5px;
}

textarea{
	min-width: 485px;
	max-width: 485px;
	min-height: 200px;
	display: block;
	background: none;
	border-radius: 10px;
	box-shadow: 0 0 1em #4e594b;
	padding: 5px;
	color: #000;
	font: 14px 'Helvetica', sans-serif;
}

textarea:focus {
    background: #E87C25;
}

button {
    font-family: 'Spicy Rice', cursive;
	border-radius: 10px;
	font-size: 1.3em;
	padding: 10px;
	margin: 10px 20px;
	display: block;
	float: right;
	background: #612602;
	border: 3px outset #853B00;
	color: #e8f7e4;
}

button:hover {
	background: #E87C25;
}

button:active {
	border: 3px inset #687764;
}

.right 
{
    float: right;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }